.create-account {
  margin: 80px 270px;
}

.create-account h2 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 15px;
}

.create-account label {
  font-size: 12px;
  color: #393939;
  font-weight: bold;
}

.create-account input {
  padding: 5px 35px;
  border-radius: 20px;
  border: 2px solid #00000081;
  margin: 11px 0px 11px 0px;
}

.create-account-button, 
.login-link {
  background-color: #FF48AB;
  color: #ffffffcc;
  border-radius: 20px;
  border: none;
  padding: 8px 75px;
  font-size: 12px;
  margin-bottom: 18px;
  font-weight: bold;
  cursor: pointer;
}

.login-link {
  background-color: #FFF;
  border: 2px solid #EF46AB;
  padding: 6px 41px;
  color: #000000cd;
}