.reset-password {
  margin: 40px 270px;
}

.reset-password h2 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 15px;
}

.reset-password label {
  font-size: 12px;
  color: #393939;
  font-weight: bold;
}

.reset-password input {
  padding: 5px 35px;
  border-radius: 20px;
  border: 2px solid #00000081;
  margin: 11px 0px 11px 0px;
}

.reset-password-button, 
.back-to-login {
  background-color: #FF48AB;
  color: #ffffffcc;
  border-radius: 20px;
  border: none;
  padding: 8px 72px;
  font-size: 12px;
  margin-bottom: 3px;
  margin-top: 5px;
  font-weight: bold;
  cursor: pointer;
}

.back-to-login {
  background-color: #FFF;
  border: 2px solid #EF46AB;
  padding: 6px 78.5px;
  color: #000000cd;
}