.forgot-password {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 25px 150px;
}

.forgot-password h2 {
  font-size: 30px;
}

.forgot-password label {
  font-size: 14px;
  color: #393939;
  font-weight: bold;
}

.forgot-password input {
  padding: 8px 50px;
  border-radius: 20px;
  border: 2px solid #00000081;
  margin: 11px 0px 11px 0px;
}

.reset-password-email, 
.back-to-login {
  background-color: #FF48AB;
  color: #ffffffcc;
  border-radius: 20px;
  border: none;
  padding: 11px 50px;
  font-size: 13px;
  margin-bottom: 18px;
  font-weight: bold;
  cursor: pointer;
}

.back-to-login {
  background-color: #FFF;
  border: 2px solid #EF46AB;
  padding: 9px 90px;
  color: #000000cd;
}