* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  font-size: 14px;
}

body {
  position: relative;
  padding-bottom: 5px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.fa-shopping-cart,
.fa-user {
  color: #EE47A0;
  font-size: 22px;
}

.fa-user {
  margin-right: 250px;
}